/* app css stylesheet */

.menu {
    list-style: none;
    border-bottom: 0.1em solid black;
    margin-bottom: 2em;
    padding: 0 0 0.5em;
}

.menu:before {
    content: "[";
}

.menu:after {
    content: "]";
}

.menu > li {
    display: inline;
}

.menu > li:before {
    content: "|";
    padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
    content: "";
    padding: 0;
}

#content {
    position: absolute;
    right: 0px;
    top: 0px;
}

#car-table {
    float: left;
}

.car-details-table {
    float: left;
}

.small {
    width: 200px;
}

.imgDetail {
    width: 500px;
}

.cars li {
    list-style: none;
    margin-left: 0;
}
input.ng-invalid.ng-dirty {
    background-color:red;
}