<h2>{{car.doc.make}}</h2>

<table id="car-details-table" class="table table-striped table-hover car-details-table">
    <thead>

    </thead>
    <tbody>

    <tr>
        <td>Model</td>
        <td>{{car.doc.style}}</td>
    </tr>
    <tr>
        <td>Fuel</td>
        <td>{{car.doc.fuel}}</td>
    </tr>
    <tr>
        <td>Engine</td>
        <td>{{car.doc.engine}}</td>
    </tr>
    <tr>
        <td>Power</td>
        <td>{{car.doc.power}}</td>
    </tr>
    <tr>
        <td>Year</td>
        <td>{{car.doc.year}}</td>
    </tr>
    <tr>
        <td>Color</td>
        <td>{{car.doc.color}}</td>
    </tr>
    <tr>
        <td>&nbsp;</td>
        <td><img data-ng-src="images/{{car.doc.imageUrl}}" class="thumbnail imgDetail"></td>
    </tr>
    <tr>
        <td>Price</td>
        <td>&euro; {{car.doc.price}}</td>
    </tr>

    </tbody>
</table>

<a href="#/transactions/new/{{car.doc._id}}/{{car.doc.price}}">Place a bid</a>

