<div class="container-fluid">
<div class="span2">
    <!--Sidebar content-->

    Search: <input data-ng-model="query">
    Sort by:
    <select data-ng-model="orderProp">
        <option value="make">Alphabetical</option>
        <option value="price">Price</option>
    </select>

</div>


<div class="row-fluid">
    <div class="span10">
        <!--Body content-->

        <ul class="cars">
            <li data-ng-repeat="car in cars.doc | filter:query | orderBy:orderProp">
                <a href="#/cars/{{car.id}}"><img class="small" data-ng-src="images/{{car.imageUrl}}"></a>
                <p><a href="#/cars/{{car.id}}">Make: {{car.make}}</a></p>
                <p><a href="#/cars/{{car.id}}">Price: &euro; {{car.price}}</a></p>
            </li>
        </ul>

    </div>
</div>
</div>
